

body{
  margin:0;
  padding: 0;
}

.container{
  width: 1440px;
}

.atypic-logo{
  position: relative;
  margin-bottom: -51px;
  z-index: 50;
}

.craft{
  position: relative;
  height: 500px;
  width: 1340;
  // background-image: url('../images/officeBW.jpg');
  // background-position: 70% 60%;
  // background-size: 150% 150%;
  // background-repeat: no-repeat;
  margin: 0px 50px 0px 50px;
  overflow: hidden;
  z-index: 1;
  img{
    transform: scale(1.68);
    padding-right: 650px;
    z-index: 1;
  }
}

.craft::before{
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #6E7EDE, #72D6C3);
  opacity: 0.9;
  z-index: 20;
}

.focus{
  height: 525px;
  background-color: #222E37;
}

.focus-bucket{
  width: 195px;
}


.carousel{
  height: 575px;
  background: linear-gradient(to right, #72D6C3, #6E7EDE);
  margin: 0px 50px 50px 50px;
}

.work{
  height: 575px;
  background-color: #222E37;
}

.info-footer{
  height: 444px;
  background: linear-gradient(#72D6C3, #6E7EDE);
  margin: 0px 50px 50px 50px;
}
